.container{
    overflow: hidden;
    
}
.intro{
    background-image:url(/images/landing.jpg);
    background-size: cover;
    padding:200px;
    padding-left: 20px;
}
.logo{
    display: block;
    margin-left: 517px;
    margin-right: auto;
    width: 50px
}
#welcome{
    text-align: center;
    color: white;
    margin-left:200px;
    font-size:28px ;
    font-weight: bold;
}
#dilani{
    text-align: center;
    color: white;
    margin-left:200px;
    font-size: 25px;
    font-weight: bold;
}
.intro  p{
    text-align: center;
    color: white;
    margin-left:200px;
    font-size: xx-small;
    font-weight: bold;
}
.click{
    display: block;
    margin-left: 520px;
    margin-right: auto;
    position: absolute;
    bottom:20px; 
}
.about{
    text-align: center;
    font-size: 16px;
}
.about h1{
    font-size: 18;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    background-image: url(/images/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:45px;
}
.center h1{
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.center p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
#do{
    text-align: center;
}
.num1{
    margin-left:140px; 
}
.num2{
    margin-left: 280px;
}
.num3{
    margin-left: 280px;
}


